@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&family=Roboto:wght@300&display=swap');

*{ 
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    background-color: black;
}



h1, h2, h3 {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;

}

#nav-style {
    list-style: none;
    background-color: #000000;
   
}

#navigation {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: space-around;
    list-style: none;
    justify-content: center;
    justify-content: space-evenly;
    height: 25px;
}


#navigation li a{
    color: #fff;
}

#image-container {
   height: 600px;
   width: 100%;
}  

#main-image {
    width: 100%;
    height: 600px;
    background: url('../images/guitar_pic_2.jpeg');
    background-size: contain;
    background-repeat: no-repeat;


}









    







    
